body.active {
    color: white;
    background-color: #23272A;
}

body.active header {
    background-color: #2C2F33;
}

body.active .navbar a:hover {
    color: rgb(98, 59, 206);
}

body.active .logo a:hover {
    color: rgb(98, 59, 206);
}

.home-text h1 {
    color: rgb(98, 59, 206);
}

body.active .btn {
    background-color: rgb(98, 59, 206);
    color: #fff;
}

body.active .btn:hover {
    background-color: rgb(50, 15, 148);
}

body.active .heading span {
    color: rgb(98, 59, 206);
}

.about-text span {
    color: rgb(98, 59, 206);
}

body.active .box {
    box-shadow: 0 2px 4px rgba(251, 250, 250, 0.993);
}

body.active .box .bx {
    background: rgb(98, 59, 206);
}

body.active .connect-text span {
    color: rgb(98, 59, 206);
}

body.active .social i {
    color: rgb(98, 59, 206);
}

body.active .social i:hover {
    color: rgb(65, 16, 199);
    font-size: 30px;
}

body.active .contact-box li a {
    color: white;
}

body.active .contact-box li a:hover {
    color: rgb(93, 60, 184);
}

body.active footer {
    background-color: #2C2F33;
}

body.active .copy-menu a:hover {
    color: rgb(98, 59, 206);
    font-size: 22px;
}


/* ______________________________________________________________________ */


/* login */

body.active .inner-boxx {
    background-color: #121518;
}

body.active .toggle {
    color: rgb(98, 59, 206);
}

body.active .toggle:hover {
    color: rgb(65, 16, 199);
}

body.active .sign-btn {
    background-color: rgb(98, 59, 206);
}

body.active .sign-btn:hover {
    background-color: rgba(33, 33, 223, 0.911);
}

body.active .text a {
    color: rgb(98, 59, 206);
}

body.active .text a:hover {
    color: rgb(65, 16, 199);
}

body.active .carousel {
    background-color: rgb(47, 44, 44);
}

body.active span.active {
    background-color: rgb(65, 16, 199);
}


/* ______________________________________________________________________ */

@media(max-width:768px) {
    body.active #menu-icon {
        color: white;
    }
    body.active header .navbar {
        background-color: black;
        box-shadow: 0.4px 4px rgba(247, 243, 243, 0.938);
    }
    body.active .navbar a {
        color: white;
        background-color: #3f4246;
    }
}