:root {
    --main-color: rgb(77, 224, 192);
    --text-color-navbar: rgb(255, 255, 255);
    --text-color: rgb(14, 0, 0);
    --bg-color: white;
    --bkg-color: rgb(97, 148, 243);
    --big-font: 4rem;
    --h2-font: 2.2rem;
    --p-font: 0.9rem;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bkg-color);
    padding: 5px 100px;
    box-shadow: 0 0.5rem 50rem rgba(252, 249, 249, 0.972);
}

.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo a {
    color: white;
}

.logo a:hover {
    color: var(--main-color);
    font-size: 22px;
}

header h2 {
    color: white;
    position: relative;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.2rem;
    padding: 40px 40px;
    color: var(--text-color-navbar);
}

.navbar a:hover {
    color: var(--main-color);
    font-size: 22px;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media(max-width:921px) {
    header {
        padding: 14px 41px;
    }
     :root {
        --big-font: 3rem;
        --h2-font: 1.7rem;
    }
}

@media(max-width:1024px) {
    section {
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--bg-color);
        box-shadow: 0.4px 4px rgba(0 0 0 /10%);
        transition: 0.2s ease;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        color: var(--bg-color);
        display: block;
        background-color: rgb(70, 119, 211);
        ;
    }
    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
}